body {
    background-image: url("https://cdn.discordapp.com/attachments/1280008872936865792/1310816878259867719/image.png?ex=674698d9&is=67454759&hm=aebe20a6dff18b08822e4d81990fa7263762b4fbf8e05faa17286a3d759a7a16&");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
